<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Argon.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Argon.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Argon.Windows.Forms.Properties.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutodetectOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInSmartView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInTrayArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartNormal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskConfirmationOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplaySplahScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </Argon.Windows.Forms.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Argon.Windows.Forms.Properties.Settings>
            <setting name="CheckLastVersionUrl" serializeAs="String">
                <value>http://argonswitcher.sourceforge.net/checkLastVersion.xml</value>
            </setting>
        </Argon.Windows.Forms.Properties.Settings>
    </applicationSettings>
</configuration>
